<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="tests" parallel="tests" thread-count="2">

  <test name="all">
    <packages>
      <package name="org.learning.core.tests.*" />
    </packages>
  </test>

  <test name="smoke">
    <packages>
      <package name="org.learning.core.tests.smoke.*" />
    </packages>
  </test>

</suite>